button {
  width: 150px;
  text-transform: uppercase;
  border: 3px solid #FFFFFF;
  margin-top: 18px; 
  text-align: center;
  font-size: 18px; 
  color: #FFFFFF;
  line-height: 50px;
  border-radius: 30px; 
  cursor: pointer;
  transition:0.2s;
  background:rgba(0,0,0,0);   
}
